/*General Tags*/

body {
	font-family: "Times New Roman", "Arial", "Helvetica", "sans-serif"; 
	font-size:17px; 
	background:url(../images/huntitBg.jpg) repeat-y;
	width:95%;
}

h1{
	font-family: "Comic Sans MS", "Times New Roman", "Arial", "Helvetica", "sans-serif";
	font-size: 35px;
	color: RGB(45, 49, 146);
}

h2, h3{
	text-align: center;
}

/*Divisions*/

.wrapper{
	width: 55em;
	margin: 0 auto;
	text-align: left;
}

.banner{
	float: left;
	width: 100%;
}

.livery{
	top: 5px
	overflow: hidden;
}

.navigation{
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
	height: 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 5px 5px 5px  RGB(45,49, 146);
	-moz-box-shadow: 5px 5px 5px  RGB(45,49, 146);
}

.content{
	height: 300px;
	float: left;
	width: 100%;
	margin-top: 25px;
}

.content .primary{
	width: 65%;
	float: left;
	background-color: RGB(186, 201, 232);
	display: inline;
	padding: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px  RGB(45,49, 146);
	-moz-box-shadow: 1px 1px 5px  RGB(45,49, 146);
}

.primary #newBusiness input{
	width: 250px;
}

.primary #newUser input{
	width: 250px;
}

.content .right{
	float:right;
	width: 32%;
	min-width: 16em;
	top: 5px;
}

.content .secondary{
	width: 95%;
	float: right;
	display: inline;
	padding: 5px;
	background-color: RGB(186, 201, 232);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px  RGB(45,49, 146);
	-moz-box-shadow: 1px 1px 5px  RGB(45,49, 146);
}

.content .loginArea{
	width: 95%;
	float: right;
	background-color: RGB(186, 201, 232);
	display: inline;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px  RGB(45,49, 146);
	-moz-box-shadow: 1px 1px 5px  RGB(45,49, 146);
}

.footer{
	position: relative;
	float: left;
	width: 100%;
	padding-left: 5px;
	padding-top: 5px;
	margin-top: 15px;
	border-top: solid 5px RGB(45, 49, 146);
	background-color: RGB(186, 201, 232);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px  RGB(45,49, 146);
	-moz-box-shadow: 1px 1px 5px  RGB(45,49, 146);
}

/*Tables*/

td {
	width:150px;
}

td.error {
	min-width: 50px;
	text-align:right;
	color: RED;
}



/*ID*/



#logo{
	float: left;
	width: 85%;
}

#logo img{
	border-style: none;
	float: left;
	background-color: transparent;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px  RGB(45,49, 146);
	-moz-box-shadow: 1px 1px 5px  RGB(45,49, 146);
}

#logoRight img{
	border-style: none; 
	background-color: transparent;
	height: 100px;
	float:right;

}

#newBlog {
	text-align:center;
	width:100%;
}

#newBlog textarea{
	width:100%;
}


/*Navigation bar*/

ul.nav{
	margin: 0;
	padding: 0;
	list-style:none;
	overflow: hidden;
	background:url(../images/navigation/navBar.png) repeat-x;
}

ul.nav li{
	float: left;
}

ul.nav a{
	display: block;
	text-decoration: none;
	background:url(../images/navigation/divider.png) repeat-y left top;
}

ul.nav a:hover, 
ul.nav a:focus{
	background:url(../images/navigation/navBarHover.png) repeat-x;
}

ul.nav a:last{
	
}